*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.titulo{
    text-align: center;
    font-weight: bold;
}

.subtitulo{
    color: rgb(107 114 128 / 0.89);
    text-transform: uppercase;
    text-align: center;
}

#photo{
    width: 200px;
    height: auto;
 
}

section{
    margin: 4px 2px 8px 2px; 
    border: 0.2pt solid #cedddd;
    padding: 1.5% 0.8%;
    padding-left: 1.2%; 
    padding-right: 1.2%; 
    border-radius: 10px;
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}

section form {

    /* Modelo de diseño en cuadrícula */
    display: grid;									
    row-gap: 0.5rem;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 2%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#Contacto:not(#titulo-contacto){
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 24vh;
    flex-wrap: wrap;
}

